 

header{
background-color:green;
 text-align:center;
  }

  .logo h1{
  font-family: Montserrat, sans-serif;
  font-size: 40px;
  color:black;
  margin: 0;
   }

  .logo p{
   font-family: roboto, sans-serif;
  font-size: 16px;
  color:white;
  margin: 0;

   }
 
   
 nav {
 width:100%;
 text-align:center;
 background-color:black;
  }

  nav a {
 display: inline-block;
 margin: 5px; /*cambia el ancho del fondo de menu */
 padding:12px 20px;
 background-color:grey; /* color negro para el fondo del boton */
 color: white; 
 font-family: Montserrat, sans-serif;
 font-size: 1.1em;
 text-decoration:none; /*esto quita el subrayado del enlace */
 border-radius:6px; /* bordes redondeados */
 transition: background-color 0.10s, color 0.s;
  }

  nav a:hover{
  color:white;/* color del texto para el cursor */
  background-color: red;

  }

 label {
 padding:20px;
 font-size:2.5em;
 }
 body {
 background-image:url(../img/lol2.jpg); background-attachment:fixed;
 background-size:cover;
 background-repeat: no repeat;
 background-position: center;
 }
 section{
 background-color:white;
 color:black;
 width:60%;
 margin:100px auto;
 margin-top:100px;g
 font-size:3em;
 text-align:justify;
 padding:20px;
 border-radius:10px;
 font-family:roboto, sans serif;
 }
 
